<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
      </button>
      <a class="navbar-brand" href="#">ProAgil Eventos</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="#">Eventos</a></li>
        <li class="nav-item"> <a href="#">Palestrantes</a></li>
        <li class="nav-item"><a href="#">Contatos</a></li>
      </ul>
    </div>

    <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Raimundo
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" href="#">
              Sair
            </a>
          </div>
        </li>
      </ul>
  </div>
</nav>
